ebaz_linux.cache/
ebaz_linux.gen/
ebaz_linux.hw/
ebaz_linux.runs/

ebaz_linux.srcs/sources_1/new/*
ebaz_linux.srcs/sources_1/bd/*
!ebaz_linux.srcs/sources_1/new/pl_test.v

ebaz_linux.srcs/constrs_1/imports/new/*
!ebaz_linux.srcs/constrs_1/imports/new/pins.xdc

ebaz_linux.srcs/utils_1/imports/synth_1/*
!ebaz_linux.srcs/utils_1/imports/synth_1/design_top_wrapper.dcp

ps7_init*
*.txt
*.xpr
*.xsa
*.bit

buildroot/build/*
buildroot/target/*
buildroot/host/*
buildroot/staging
buildroot/.*

!buildroot/br_build
!buildroot/br_config
!buildroot/.config


buildroot/workarea/drivers/*
!buildroot/workarea/drivers/*.c
!buildroot/workarea/drivers/*.h
!buildroot/workarea/drivers/Makefile

vitis_workspace/*
!vitis_workspace/ebaz_linux_platform
!vitis_workspace/img_create
vitis_workspace/dt/include/*
vitis_workspace/dt/*.mss
!vitis_workspace/dt
